.scanPanel:first-child {
  margin-left: -10px
}
.scanPanel>div {
  display: inline-block;
  margin-left: 10px
}

.container {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 70px;
}

.panel {
  width: 100%;
}

.graphFrame {
  width: calc(100vw - 30px);
  height: calc(100vh - 210px);
  overflow: auto;
}
