nodeManagerUrl = "http://entry/api/1.x/clusterkit/nodemanager/getConfiguration"
authenticationUrl = "http://entry/api/1.x/security/token"
workingDirectory = "node"
stopMode = "CleanRestart"
stopAction = "echo stopped"

containerType = "worker"
frameworkRuntimeType = ".NETFramework,Version=v4.6"

apiClientId = "ClusterKit.NodeManager.Launcher"
apiClientSecret = "{49F20BD7-DA51-4A7B-B13F-44881D71D395}"

fallbackConfiguration = "fallBackConfiguration.json"