{
	KlusterKite.NodeManager.ConfigurationDatabaseConnectionString = "User ID=postgres;Host=configDb;Port=5432;Pooling=true;Database=KlusterKite.NodeManagerConfiguration"	  
	KlusterKite.NodeManager.ConfigurationDatabaseProviderName = "Npgsql"	
    KlusterKite.NodeManager.Migrators = [
        "KlusterKite.NodeManager.ConfigurationSource.ConfigurationMigrator, KlusterKite.NodeManager.ConfigurationSource"
    ]
}
