{
	# The timeout on socket read operation
	KlusterKite.LargeObjects.TcpReadTimeout = 10s

	# The maximum number of parcel receive attmets on read timeouts
	KlusterKite.LargeObjects.MaxReadAttempts = 5

	# The time intervasl between read attempts
	KlusterKite.LargeObjects.RereadInterval = 5s
}