<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositorypath" value="./packages/" />
  </config>
  <packageSources>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="local" value="./packageOut" />
    <add key="Akka" value="https://www.myget.org/F/akkadotnet/api/v2" />

  </packageSources>
</configuration>
