{
	ExecutionFramework = ".NETFramework,Version=v4.5"

	Nuget = "http://nuget/"
	NugetCheckPeriod = 30s

	SeederConfigurations = [
		"Seeders.Postgres"
	]

	Seeders {
		Postgres {
			RequiredPackages = [
				"ClusterKit.Data.EF.Npgsql",
				"ClusterKit.NodeManager.Seeder",
				"ClusterKit.NodeManager.ConfigurationSource.Seeder"
			]

			Seeders = [
				"ClusterKit.NodeManager.ConfigurationSource.Seeder.Seeder"
			]
		}
	}
}
