.brand {
  position: absolute;
  top: 5px;
  left: 5px;

  background: url('./Images/logo.png') #F8F7F7 no-repeat center center;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-size: 80%;
  margin: 0 10px 0 0;
  border-radius: 20px;
}

.appContent {
  margin-top: 50px;
}
