{
    akka : {
      
    remote : {
        helios.tcp : {
          port = 3090
        }
      }      
      cluster: {
        auto-down-unreachable-after = 15s
    		min-nr-of-members = 3
        seed-nodes = ["akka.tcp://ClusterKit@seed:3090"]
        singleton {
            # The number of retries are derived from hand-over-retry-interval and
            # akka.cluster.down-removal-margin (or ClusterSingletonManagerSettings.removalMargin),
            # but it will never be less than this property.
            min-number-of-hand-over-retries = 10       			   
        }
      }
    }
}