<?xml version="1.0" encoding="utf-8" ?>
<akka>
  <hocon>
    <![CDATA[
{
  akka {
    remote {
      helios {
        tcp {
          hostname = 127.0.0.1
          port = 0
          // 3090 - default port for seeds
        }
      }
    }
    cluster {
      seed-nodes = []
    }
  }
}
]]>
  </hocon>
</akka>