
                {
                    TestMigrator.DefinedMigrationPoints = [
                        "first",
                        "second",
                    ]
                    TestMigrator.Resources = [
                        "C:\\Dropbox\\Sources\\Git\\ClusterKit\\ClusterKit.NodeManager\\ClusterKit.NodeManager.Tests\\bin\\Debug\\netcoreapp1.1\\c8e329466147459db17c4ab797974145"
                    ]
                    ClusterKit.NodeManager.Migrators = [
                        "ClusterKit.NodeManager.Tests.Migrations.TestMigrator, ClusterKit.NodeManager.Tests"
                    ]
                }
                