{
	Runtime = "ubuntu.14.04-x64"

	NugetCheckPeriod = 30s

	SeederConfigurations = [
		"Seeders.Postgres"
	]

	Seeders {
		Postgres {
			RequiredPackages = [
				"KlusterKite.Data.EF.Npgsql",
				"KlusterKite.NodeManager.Seeder",
				"KlusterKite.NodeManager.ConfigurationSource.Seeder",
				"KlusterKite.NodeManager.Mock"
			]

			Seeders = [
				"KlusterKite.NodeManager.ConfigurationSource.Seeder.Seeder, KlusterKite.NodeManager.ConfigurationSource.Seeder",
				"KlusterKite.NodeManager.Mock.MockResourceSeeder, KlusterKite.NodeManager.Mock"
			]
		}
	}

	KlusterKite.NodeManager.ConfigurationDatabaseConnectionString = "User ID=postgres;Host=configDb;Port=5432;Pooling=true"
	KlusterKite.NodeManager.ConfigurationDatabaseName = "KlusterKite.NodeManagerConfiguration"
        KlusterKite.NodeManager.ConfigurationDatabaseProviderName = "Npgsql"
	KlusterKite.NodeManager.PackageRepository = "http://nuget/"
	KlusterKite.NodeManager.Seeds = [
		"akka.tcp://KlusterKite@seed:3090"
	]
	KlusterKite.NodeManager.NugetFeeds {
		publicFeed {
                       address = "/opt/packageCache"
                       type = public
               } 
               privateFeed {
                       address = "http://nuget/"
                       type = private
               } 
	
	}

	KlusterKite.NodeManager.SupportedFrameworks = [
		".NETFramework,Version=v4.6",
		".NETCoreApp,Version=v1.1"
	]

	KlusterKite.NodeManager.Mock {
		RedisConnection = "172.18.0.4:6379"
		ResourcePoints = [
			"first"
		]
		Resources = [
			"resource-1",
			"resource-2",
			"resource-3"
		]
	}
}
