{
	akka.actor.deployment {	
        /ClusterKit {
	        IsNameSpace = true
	    }
        /ClusterKit/API {
	        type = "ClusterKit.Core.NameSpaceActor, ClusterKit.Core"
	    }
        /ClusterKit/API/Publisher {
	        type = "ClusterKit.API.Endpoint.ApiPublisherActor, ClusterKit.API.Endpoint"
	    }	    	    
	}
}