{
	ClusterKit.NodeManager.ConfigurationDatabaseConnectionString = "User ID=postgres;Host=configDb;Port=5432;Pooling=true;Database=ClusterKit.NodeManagerConfiguration"	  
	ClusterKit.NodeManager.ConfigurationDatabaseProviderName = "NodeManager.ConfigurationDatabaseProviderName = "Npgsql""	
    ClusterKit.NodeManager.Migrators = [
        "ClusterKit.NodeManager.ConfigurationSource.ConfigurationMigrator, ClusterKit.NodeManager.ConfigurationSource"
    ]
}
