{
  ClusterKit {
    Web {
      Nginx {
        PathToConfig = "/etc/nginx/sites-enabled/clusterkit.config"
        ReloadCommand {
          Command = /etc/init.d/nginx
          Arguments = reload
        } 
        Configuration {
          default {
            "location /clusterkit" { 
              proxy_pass = "http://monitoringUI/clusterkit"
            }
          }
        }
      }
    }
  }

  akka {
    remote {
      helios {
        tcp {
          hostname = 0.0.0.0
          port = 0
        }
      }
    }
    cluster {
      seed-nodes = []
    }
  }
}
