<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="nodeManagerUrl" value="http://entry/nodemanager/getConfiguration" />
    <add key="workingDirectory" value="node" />
    <add key="stopMode" value="CleanRestart" />
    <add key="stopAction" value="echo stopped" />

    <add key="containerType" value="worker" />

    <!-- Fallback configuration used in case of nodeManagerUrl is anavailable. This is used for initial cluster start -->
    <add key="fallbackConfiguration" value="fallBackConfiguration.json" />
  </appSettings>
</configuration>