@import "../../theme/variables.scss";
.home {
  dd {
    margin-bottom: 15px;
  }
}
.masthead {
  background: #fff;
  padding: 40px 20px;
  min-height: 100px;
  color: white;
  text-align: center;
  h1 {
    margin-bottom: 0;
    color: #000;
    font-size: 6em;
    font-weight: 200;
  }
  h2 {
    color: #000;
    font-size: 2em;
    margin: 20px;
  }
  a {
    color: #000;
  }
  p {
    margin: 10px;
  }
  .humility {
    color: $humility;
    a {
      color: $humility;
    }
  }
  .github {
    font-size: 1.5em;
  }
}

.counterContainer {
  text-align: center;
  margin: 20px;
}

.content {
  margin-top: 40px;
  font-size: 16px;
}
