 {
 	ClusterKit {
 		Web {
 			OwinBindAddress = "Http://*:8080"
 			Services {
 			    // The list of services. Should be described as pair of directory and hostname.
 			    // It doesn't supposed (but is not prohibited) that this should be public service hostname.
 			    // It's just used to distinguish services with identical url paths to be correctly published on frontend web servers.
 				//"default" = "default"
 			}
 		}
 	}

 	akka.actor.deployment {
 		 /Web {
            IsNameSpace = true
        }

        /Web/Descriptor {
            type = "ClusterKit.WebWebDescriptorActor, ClusterKit.Web"
        }

 	}
 }