 {
	ClusterKit {
	 		Web {
	 			Nginx {
	 				// PathToConfig = "[PathToConfig]"
	 				ServicesHost {
	 					default: localhost
	 				}
	 			}
	 		}
	 	}

 	akka.actor.deployment {
 		 /Web {
            IsNameSpace = true
        }
 		 /Web/Nginx {
            type = "ClusterKit.Core.NameSpaceActor, ClusterKit.Core"
        }        

        /Web/Nginx/Configurator {
            type = "ClusterKit.Web.NginxConfigurator.NginxConfiguratorActor, ClusterKit.Web.NginxConfigurator"
        }

 	}
 }