 {
	ClusterKit {
	 		Web {
	 			Nginx {
	 				// PathToConfig = "[PathToConfig]"
	 				// ReloadCommand = "/etc/init.d/nginx reload"
	 				ServicesHost {
	 					default {
	 						listen: "80" //nginx configuration for listen directive in server part
	 						//server_name: "localhost" configuration for server_name directive in server part
	 					}
	 				}
	 			}
	 		}
	 	}

 	akka.actor.deployment {
 		 /Web {
            IsNameSpace = true
        }
 		 /Web/Nginx {
            type = "ClusterKit.Core.NameSpaceActor, ClusterKit.Core"
        }        

        /Web/Nginx/Configurator {
            type = "ClusterKit.Web.NginxConfigurator.NginxConfiguratorActor, ClusterKit.Web.NginxConfigurator"
        }

 	}
 }