{
    akka : {
      
      stdout-loglevel : DEBUG
      loggers : ["Akka.Logger.Serilog.SerilogLogger, Akka.Logger.Serilog"]
      log-config-on-start : off
      loglevel : DEBUG

      actor : {
        provider = "Akka.Cluster.ClusterActorRefProvider, Akka.Cluster"
        default-dispatcher {
          type = TaskDispatcher
        }

        deployment {
          /Core {
            IsNameSpace = true
          }

          /Core/Ping {
            type = "ClusterKit.Core.Ping.PingActor, ClusterKit.Core"
          }

          /Core/ClusterLog {
            type = "ClusterKit.Core.Cluster.ClusterLoggingActor, ClusterKit.Core"
          }          
        }

        serializers {
		      wire = "Akka.Serialization.WireSerializer, Akka.Serialization.Wire"
          //akka-singleton = "Akka.Cluster.Tools.Singleton.Serialization.ClusterSingletonMessageSerializer, Akka.Cluster.Tools"
        }

        serialization-bindings {
		      "System.Object" = wire
          //"Akka.Cluster.Tools.Singleton.ClusterSingletonMessage, Akka.Cluster.Tools" = akka-singleton
        }

        serialization-identifiers {
          //"Akka.Cluster.Tools.Singleton.Serialization.ClusterSingletonMessageSerializer, Akka.Cluster.Tools" = 14
        }


      }

      remote : {
        helios.tcp : {
          hostname = 0.0.0.0
          port = 0
        }
      }

      cluster: {
        auto-down-unreachable-after = 15s
		    min-nr-of-members = 3
        seed-nodes = []
        singleton {
            # The number of retries are derived from hand-over-retry-interval and
            # akka.cluster.down-removal-margin (or ClusterSingletonManagerSettings.removalMargin),
            # but it will never be less than this property.
            min-number-of-hand-over-retries = 10       			   
        }
      }
    }
}