{
  ClusterKit {
	  Web {
		  Nginx {
			PathToConfig = "/etc/nginx/sites-enabled/clusterkit.config"
			ReloadCommand {
			  Command = /etc/init.d/nginx
			  Arguments = reload
			} 
			Configuration {
			  default {
				"location /" { // you can define static content. This part will be just inserted into nginx config
				  root = /opt/web/monitoring/
				  index = index.html
				}

				"location /signalr" {
					proxy_set_header = ["Upgrade $http_upgrade", "Connection \"upgrade\""]
				}
			}
          }
        }
      }
    }
  }


   
  akka {
    remote {
      helios {
        tcp {
          hostname = 0.0.0.0
          port = 0
        }
      }
    }
    cluster {
      seed-nodes = []
    }
  }
}
