{
	ExecutionFramework = ".NETFramework,Version=v4.5"

	Nuget = "http://nuget/"
	NugetCheckPeriod = 30s

	SeederConfigurations = [
		"Seeders.Postgres"
	]

	Seeders {
		Postgres {
			RequiredPackages = [
				"ClusterKit.Data.EF.Npgsql",
				"ClusterKit.NodeManager.Seeder",
				"ClusterKit.NodeManager.ConfigurationSource.Seeder"
			]

			Seeders = [
				"ClusterKit.NodeManager.ConfigurationSource.Seeder.Seeder, ClusterKit.NodeManager.ConfigurationSource.Seeder"
			]
		}
	}

	ClusterKit.NodeManager.ConfigurationDatabaseConnectionString = "User ID=postgres;Host=configDb;Port=5432;Pooling=true"
	ClusterKit.NodeManager.ConfigurationDatabaseName = "ClusterKit.NodeManagerConfiguration"
	ClusterKit.NodeManager.Seeds = [
		"akka.tcp://ClusterKit@seed:3090"
	]
	ClusterKit.NodeManager.NugetFeeds {
		publicFeed {
                       address = "/opt/packageCache"
                       type = public
               } 
               privateFeed {
                       address = "http://nuget/"
                       type = private
               } 
	
	}

	ClusterKit.NodeManager.SupportedFrameworks = [
		".NET Framework,Version=v4.5"
	]
}
