<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <dependentAssembly>
      <assemblyIdentity name="Microsoft.Build.Framework" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
      <bindingRedirect oldVersion="0.0.0.0-15.1.0.0" newVersion="17.3.2.0" />
    </dependentAssembly>
  </runtime>
</configuration>