{
	akka.actor.deployment {

          /ClusterKit {
            IsNameSpace = true
          }	

          /ClusterKit/Parcels {
            type = "ClusterKit.LargeObjects.ParcelManagerActor, ClusterKit.LargeObjects"
          }	
	}
}