{
  ClusterKit {
    Web {
      Swagger.Publish {
          publishDocPath = ""seed/swagger/doc""
          publishUiPath = ""seed/swagger/ui""
      }

      Services {
        ClusterKit/Web/Swagger { // ServiceName is just unique service identification, used in order to handle stacked config properly. It is used just localy on node
          Port = 8080 // default owin port, current node listening port for server access
          PublicHostName = default //public host name of this service. It doesn't supposed (but is not prohibited) that this should be real public service hostname. It's just used to distinguish services with identical url paths to be correctly published on frontend web servers. Real expected hostname should be configured in NginxConfigurator or similar publisher
          Route = /seed/swagger //route (aka directory) path to service
        }                    
      }      

      Nginx {
        PathToConfig = "/etc/nginx/sites-enabled/clusterkit.config"
        ReloadCommand {
          Command = /etc/init.d/nginx
          Arguments = reload
        } 
        Configuration {
          default {
            "location /" { // you can define static content. This part will be just inserted into nginx config
              root = /opt/web/monitoring/
              index = index.html
            }

            "location /signalr" {
                proxy_set_header = ["Upgrade $http_upgrade", "Connection \"upgrade\""]
            }
          }
        }
      }
    }
  }



  akka {
    remote {
      helios {
        tcp {
          hostname = seed
          port = 3090
        }
      }
    }
    cluster {
      seed-nodes = ["akka.tcp://ClusterKit@seed:3090"]
      min-nr-of-members = 1
    }
  }
}
