.app {
    margin-top: 70px;
    height: calc(100vh - 70px);
    /*width: 100vw;*/
}

.topLogo {
    position: absolute;
    top: 5px;

    background: url('./images/logo.png') #F8F7F7 no-repeat center center;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-size: 80%;
    margin: 0 0 0 -45px;
    border-radius: 20px;
}

.pointer {
    cursor: pointer;
}
