{
	ClusterKit.Log.ElasticSearch {
		# you can use 'none' value or any other invalid valu to disable console log
		# this level should be no lower then "ClusterKit.Log.minimumLevel" (that is "information" by default)
		minimumLevel = "Information"

		#the list of connection urls
		nodes = [ "http://elk:9200/" ]

		typeName = "ClusterKitLog"

		indexFormat = "clusterkit-{0:yyyy.MM.dd}"
	}	
}