<?xml version="1.0" encoding="utf-8" ?>
<akka>
  <hocon>
    <![CDATA[
{
  akka {
    loggers = ["Akka.Logger.Serilog.SerilogLogger, Akka.Logger.Serilog"]
    stdout-loglevel : DEBUG
    log-config-on-start : on
    loglevel : DEBUG

    actor {
      debug {
        receive = on
        autoreceive = on
        lifecycle = on
        event-stream = on
        unhandled = on
      }
      provider = "Akka.Cluster.ClusterActorRefProvider, Akka.Cluster"
      default-dispatcher {
        type = TaskDispatcher
      }
    }
    remote {
      helios {
        tcp {
          hostname = 127.0.0.1
          port = 0
        }
      }
    }
    cluster {
      auto-down-unreachable-after = 15s
      seed-nodes = []
    }
  }
}
]]>
  </hocon>
</akka>