{
  akka {
    stdout-loglevel : DEBUG
    loggers : ["Akka.Logger.Serilog.SerilogLogger, Akka.Logger.Serilog"]
    log-config-on-start : off
    loglevel : DEBUG

    scheduler {
      implementation = "Akka.TestKit.TestScheduler, Akka.TestKit" 
    }

    test {
      # factor by which to scale timeouts during tests, e.g. to account for shared
      # build system load
      timefactor =  1.0

      # duration of EventFilter.intercept waits after the block is finished until
      # all required messages are received
      filter-leeway = 3s

      # duration to wait in expectMsg and friends outside of within() block
      # by default
      single-expect-default = 500ms

      # The timeout that is added as an implicit by DefaultTimeout trait 
      # This is used for Ask-pattern
      default-timeout = 500ms

      calling-thread-dispatcher {
        type = "Akka.TestKit.CallingThreadDispatcherConfigurator, Akka.TestKit"
        throughput = 2147483647
      }

      test-actor.dispatcher {
        type = "Akka.TestKit.CallingThreadDispatcherConfigurator, Akka.TestKit"
        throughput = 2147483647
      }
    }
    actor : {
      debug {
        receive = on
        autoreceive = on
        lifecycle = on
        event-stream = on
        unhandled = on
      }

      deployment {
        "/*" {
          dispatcher = akka.test.calling-thread-dispatcher
        }

        "/*/*" {
          dispatcher = akka.test.calling-thread-dispatcher
        }

        "/*/*/*" {
          dispatcher = akka.test.calling-thread-dispatcher
        }
      }

      #default-dispatcher : {
      #  type : "Akka.TestKit.CallingThreadDispatcherConfigurator, Akka.TestKit"
      #  throughput = 2147483647
      #}
    }
  }
}