{	
	akka.actor.deployment {
	       /NodeManager {
	    	IsNameSpace = true
	       }

               /NodeManager/Receiver {
                        type = "ClusterKit.NodeManager.Client.NodeManagerReceiverActor, ClusterKit.NodeManager.Client"
               }
        
                /NodeManager/NodeManagerProxy {
        	       actor-type = SingletonProxy
        	       singleton-name = NodeManager
        	       singleton-path = "user/NodeManager/Manager"
        	       singleton-node-role = NodeManager            
                }
 	}
}