{	
	akka.actor.deployment {
		/NodeManager {
	    	IsNameSpace = true
	    }
        
        /NodeManager/DbWorker.Proxy {
        	actor-type = SingletonProxy
        	singleton-name = clusterkit.nodemanager.dbworker
        	singleton-path = /NodeManager/DbWorker
        	singleton-node-role = NodeManager            
        }
 	}
}