{	
	akka.actor.deployment {
	       /NodeManager {
	    	IsNameSpace = true
	       }
        
                /NodeManager/DbWorkerProxy {
        	       actor-type = SingletonProxy
        	       singleton-name = clusterkit.nodemanager.dbworker
        	       singleton-path = /NodeManager/DbWorker
        	       singleton-node-role = NodeManager            
                }
 	}
}