{	
	akka.actor.deployment {	
        /ClusterKit {
	        IsNameSpace = true
	    }
        /ClusterKit/Web {
	        type = "ClusterKit.Core.NameSpaceActor, ClusterKit.Core"
	    }
        /ClusterKit/Web/GraphQLBrowser {
	        type = "ClusterKit.Web.GraphQL.Publisher.ApiBrowserActor, ClusterKit.Web.GraphQL.Publisher"
	    }	    	    
	}

	ClusterKit.Web {
		Services {
			GraphQL { 
				Port = 8080 
				PublicHostName = default 
				Route = /api/1.x/graphQL 			
			}

		}
	}	
}