.package-selector .remove {
    margin-top: 7px;
    color: #900000;
    cursor: pointer;
    margin-right: 10px;
}

.package-selector .add {
    margin-top: 7px;
    color: #009000;
    cursor: pointer;
    margin-right: 10px;
}

.package-selector {
    margin-bottom: 10px;
}

.package-selector-outer {
    margin-bottom: 4px;
}
