 {
 	ClusterKit {
 		Web {
            Services {
               /MonitoringApi = Monitoring
               /signalr = Monitoring
            }
 		}

 		Monitoring {
 			PingFrequency = 2s
 			PingTimeout = 2s,
 			BroadcastClientFrequency = 5s,
 			RemoveMemberTimeout = 1h
 		}
 	}

 	akka.actor.deployment {
 		 /Monitoring {
            IsNameSpace = true
        }

        /Monitoring/Watcher {
            type = "ClusterKit.Monitoring.Actors.WatcherActor, ClusterKit.Monitoring"
        }

 	}
 }