 {
 	ClusterKit {
 		Web {
            Services {
               /MonitoringApi = ClusterKitHost
            }
 		}
 	}

 	akka.actor.deployment {
 		 /Monitoring {
            IsNameSpace = true
        }

        /Monitoring/Watcher {
            type = "ClusterKit.Monitoring.Actors.WatcherActor, ClusterKit.Monitoring"
        }

 	}
 }