<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <add key="nodeManagerUrl" value="http://192.168.99.100/nodemanager/getConfiguration"/>
    <add key="workingDirectory" value="/opt/node"/>
    <add key="startMode" value="cleanStart"/>
    <add key="stopMode" value="CleanRestart"/>
    <add key="stopAction" value="echo stopped"/>

    <add key="containerType" value="worker"/>
  </appSettings>
</configuration>
